<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".FiltroCatalogo"></activity>
        <activity android:name=".MaxiLettura" />
        <activity
            android:name=".PlotPopUp"
            android:theme="@style/AppTheme.PlotPopUp" />
        <activity android:name=".ChapterList" />
        <activity android:name=".ContinuaLettura" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Catalogo" />
        <activity android:name=".CommentList" />
        <activity android:name=".FormCommento" />
        <activity android:name=".Home" />
        <activity android:name=".Registrazione" />
        <activity android:name=".LeggiLibro" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>